* {
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}

body {
    -webkit-touch-callout: none;
    -webkit-text-size-adjust: none;
    -webkit-user-select: none;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    text-transform: uppercase;
    background-color: #32383d;
    font-family: 'RobotoRegular', 'Droid Sans', 'Segoe UI', Segoe, 'San Francisco', 'Helvetica Neue', Helvetica, Arial, Geneva, sans-serif;
    font-size: 12px;
}

#gc {
    padding: 0;
    margin: auto;
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #32383d;
}

#swipearea {
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 1;
}

#background {
    background: linear-gradient(#e66465, #9198e5);
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: -1;
}